
/* This CSS applies to the whole app */

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 80%;
  text-align: center;
}

h3 {
  font-size: 60%;
}

label {
  font-size: 60%;
  margin-top:10px;
  
}

p {
  font-size: 50%;
}

img {
  max-width:100%;
  max-height: 100%;
}

.button {
  background-color: lightblue; 
  border: none;
  border-radius: 4px;
  color: white;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 12px 0px 12px 0px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hover-color:hover {
  background-color: darkblue
}


/* This CSS applies to the header and search box */
header {
  background-color: lightgrey;
  padding: 10px 10px 0px 10px;
  top:0;
  width: 100%;
}

i {
  padding: 3px;
}

#js-search-title {
  color: red;
}

#missyLogo {
  color:red;
}

input {
  font-size: 50%;
}


/* This CSS applies to the main area where the search results are rendered. */

.dataItem {
  margin-top: 10px;
  margin-bottom:10px;
}
.js-result-name {
  height: 40px;
  margin-top: 2px;
  margin-bottom:2px;
}

.js-desc {
  height:50px;
  margin: 2px;
  margin-top: 2px;
  margin-bottom:2px;
}

.js-image {
  max-width: 100%;
  max-height: 100%;
  margin-top: 2px;
  margin-bottom:2px;
}

.js-image:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#blurb {
  margin: auto;
  display: block;
 
} 

input[type=text] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color:white;
  background-image: url('images/search-512.png');
  background-size: 28px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 15px 12px 40px;
}


/* the next button to get the next set of data */
#next {
  display:none;
}

/* all stuff to do with the lightbox */

#lightboxTarget {
  display:block;
  margin:auto;
  
}

#lightboxVideo {
  display: block;
  margin-top:20px;
  position:relative;
  
}
 
.myVideo {
  display: none;
}






